body {
    background-color: #39CCCC;
    font-family: 'Roboto Mono', monospace;
}

.header-section{
    display: flex;
    justify-content: center;
    /* border: 5px solid white; */
}

.header-section h1 {
    padding: 25px 150px;
    border: 5px solid white;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid white;
    margin: 75px 350px; */
}

.score-section {
    display: flex; 
}

.score {
    margin: 5px 50px;
}

.choices-section {
    display: flex;
    background-color: #FFFFFF;
    padding: 30px;
}

.choices-section img {
    width: 100px;
    padding: 10px;
}