body {
    background-color: #7FDBFF;
    font-family: 'Roboto Mono', monospace;
    
}

/* Game title */
.header-section{
    display: flex;
    justify-content: center;
}

.header-section h1 {
    padding: 25px 150px;
}

/* Content section for the menu and */
.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    margin: 45px 150px;
    border: 5px solid white;
}

.content-section .left{
    margin-left: 30px;
}

.content-section .middle{
    display: flex;
    justify-content: center;
    padding: 50px;
    min-width: 530px;
}

.content-section .right{
    margin-right: 30px;
}

/* Game Start button */
#start-btn {
    border: 5px solid white;
    padding: 16px 38px;
}

#start-btn:hover {
    background-color: #FF851B;
    color: white;
    cursor: pointer;
}

/* Game choices for displaying Rock, Paper, Scissors images */
.game-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-choices img{
    width: 100px;
    margin: 5px;
    border: 10px solid black;
}

.game-choices img:hover{
    border: 10px solid #FF851B;
}

.game-choices img:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Inactive */
.inactive {
    display: none;
}