body {
    background-color: #7FDBFF;
    font-family: 'Roboto Mono', monospace;
    
}

.header-section{
    display: flex;
    justify-content: center;
}

.header-section h1 {
    padding: 25px 150px;
}

.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    margin: 45px 150px;
    border: 5px solid white;
}

.content-section .left{
    /* display: none; */
}

.content-section .right{
    /* display: none; */
}

#start-btn {
    border: 5px solid white;
    padding: 16px 38px;
}

#start-btn:hover {
    background-color: #FF851B; /* Green */
    color: white;
    cursor: pointer;
}

/* Game choices for displaying Rock, Paper, Scissors images */
.game-choices img{
    width: 100px;
    margin: 5px;
    border: 10px solid black;
}

.game-choices img:hover{
    border: 10px solid #FF851B;
}

/* Inactive */
.inactive {
    display: none;
}